version: '3.8'

services:
  oam-portal:
    # Option 1: Manual Build (Requires full source code package)
    # build:
    #   context: .
    #   dockerfile: Dockerfile

    # Option 2: Registry Pull (Recommended - No source code package needed)
    image: ghcr.io/gunmeetsingh/uiframework:main

    container_name: oam-portal
    ports:
      - "3000:3000"
    environment:
      - CORE_DB_URL=mysql://root:gtp_root_pass@host.docker.internal:3307/oam_portal
      - GTP_PROXY_DB_URL=mysql://root:gtp_root_pass@host.docker.internal:3307/gtp_proxy
      - AUTH_MODE=local # Change to keycloak once logic is ready
      - NEXTAUTH_URL=http://207.180.220.203:3000
      - NEXTAUTH_SECRET=p3rs1st3nt_s3cr3t_f0r_prod
      - KEYCLOAK_ID=nextjs-app
      - KEYCLOAK_SECRET=dummy-secret
      - KEYCLOAK_ISSUER=http://207.180.220.203:8080/realms/spartified
      - NEXT_PUBLIC_GRAFANA_URL=https://play.grafana.org/d-solo/000000012/grafana-play-home?orgId=1&panelId=2
    depends_on:
      - keycloak
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always

  keycloak:
    image: quay.io/keycloak/keycloak:22.0.1
    container_name: keycloak
    command: start-dev --http-relative-path /auth
    ports:
      - "8080:8080"
    environment:
      - KC_DB=mysql
      - KC_DB_URL=jdbc:mysql://host.docker.internal:3307/keycloak
      - KC_DB_USERNAME=root
      - KC_DB_PASSWORD=gtp_root_pass
      - KC_HOSTNAME=207.180.220.203
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
