:root {
  --background: #000000;
  --foreground: #F8FAFC;
  --primary: #3C83F6;
  --secondary: #22D3EE;
  --component-bg: #111827;
  --sidebar-bg: #0F1729;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; /* Fallback until Nunito is loaded */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
